* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #83798b;
  font-size: 1em;
  width: 100vw;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}
.menu {
  padding: 10px;
  top: 0;
  /* position: fixed; */
  background-color: aliceblue;
  width: 100vw;
}
.colour-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 18vh;
}
.colour-code {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.container {
  width: 100vw;
  color: black;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    min-height: 93vh;
  }
  .colour-div {
    width: 20vw;
    min-height: 93vh;
    justify-content: center;
  }
}
